body {
  margin: 0;
  font-family: "Courier New";
  /*background-color: black;*/
}

rect {
  stroke: #000;
  stroke-width: 0.5px;

}

.contractorclones {
  stroke: #000;
  stroke-width: 0px;

}

.check {
    width: 50px;
    height: 80px;
    outline: 1px solid red;
    position: relative;
}

p#maintext {
  white-space: pre-wrap;
}

#active {
  color: red;
}

.overlord_rect {
	stroke-width: 0px;
	filter: blur(0px);
	transition: 0.4s filter linear;
}

#intro {
    padding: 100px;
    margin: 50px;
    text-align: justify;
    justify-content: flex-end;
}

#intro2 {

}

 /*#tasks {

 }*/

div.svgdiv {
	position : relative;
	top : 20px;
    left: 5px;
}

div.seldiv {
    position: fixed;
    top: 0;
    left: 300px;
    width: 1500px;
    border: 0px solid #73AD21;
}

div#tasks {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
  /*background-color: black;*/
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
    0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
    100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
